$image-size: 20px;

.contact {
  .header-image {
    margin: 0 15px;

    img {
      @include image-responsive(100%);
    }

    @include respond-to(tablets) {
      margin: 0;
      display: flex;
      justify-content: center;

      img {
        width: auto;
      }
    }
  }

  .description {
    margin: 40px 0;
    padding: 0 35px;
    line-height: 1.5em;
    text-align: justify;

    @include respond-to(tablets) {
      padding: 0 20px;
    }
  }

  .social {
    width: 100%;
    padding: 10px;
    display: block;
    margin: 0 auto;

    @include respond-to(tablets) {
      display: flex;
    }

    @include respond-to(desktops) {
      width: 70%;
    }

    p {
      text-align: center;

      &:not(:first-child) {
        margin-top: 20px;
      }

      @include respond-to(tablets) {
        width: 40%;

        &:not(:first-child) {
          margin-top: 0;
        }
      }
    }

    a {
      text-decoration: none;

      img {
        vertical-align: middle;

        @include image-responsive($image-size);
      }

      span {
        padding-left: 8px;
      }
    }
  }
}
