$aside-menu-margin-left: 20px;
$aside-menu-section-spacing: 20px;
$social-image-width: 20px;

#hamburger {
  text-align: right;
  position: absolute;
  margin: 0;
  right: 20px;

  @include respond-to(tablets) {
    display: none;
  }

  img {
    width: 36px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px $color-primary-3;
    background-color: $color-primary-1;
    cursor: pointer;
  }
}

.links-open {
  /* show for transition-out */
  visibility: visible !important;
  overflow: visible !important;
  max-height: 500px !important; /* should be more a value greater than final height */
  margin-bottom: $aside-menu-section-spacing !important;
  /* transition-in */
  transition-property: max-height, visibility, overflow, margin;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

nav {
  margin-top: $page-top-margin;

  @include respond-to(tablets) {
    margin-left: $aside-menu-margin-left;
  }

  section {
    text-align: center;

    @include respond-to(tablets) {
      text-align: left;
    }
  }
}

#logo {
  left: 5%;
  margin-bottom: $aside-menu-section-spacing;

  @include respond-to(tablets) {
    margin-bottom: 0;
  }

  p:first-child {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }
}

#links {
  background-color: $color-primary-1;
  /* hide for transition-in */
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  /* transition-out */
  transition-property: max-height, visibility, overflow, margin;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  @include respond-to(tablets) {
    margin-top: $aside-menu-section-spacing * 2;
    background-color: $color-primary-0;
    /* unset transition related stuff */
    visibility: visible;
    overflow: visible;
    max-height: unset;
    transition: none;
  }

  ul {
    li {
      padding: 10px 0;

      @include respond-to(tablets) {
        padding-top: 20px;
        padding-bottom: 0;
      }
    }

    @include respond-to(tablets) {
      li:first-child {
        padding-top: 0;
      }

      li:last-of-type {
        margin-top: $aside-menu-section-spacing;
      }
    }
  }
}

#social {
  @include respond-to(tablets) {
    margin-top: $aside-menu-section-spacing;
  }

  ul {
    @include respond-to(tablets) {
      /* fix image align with menu */
      margin-left: -4px;
    }

    li {
      display: inline-block;
      width: $social-image-width;

      &:not(:first-child) {
        margin-left: 5px;
      }

      .youtube {
        /* fix image align */
        margin-right: 4px;
      }

      img {
        display: block;
        @include image-responsive(100%);
      }
    }
  }
}
