$page-top-margin: 20px;
$page-right-margin: 20px;
$page-bottom-margin: 20px;
$aside-menu-width: 15%;

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $color-primary-0;
  color: $color-secondary-0;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: inherit;
      text-decoration: none;
    }
  }

  @include respond-to(tablets) {
    display: flex;

    nav {
      width: $aside-menu-width;
    }

    article.content {
      width: 100% - $aside-menu-width;
    }
  }

  article.content {
    margin: $page-top-margin 0 $page-bottom-margin 0;

    @include respond-to(tablets) {
      margin-right: $page-right-margin;
    }
  }
}
