@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

$roboto-slab: "Roboto Slab", serif;

body {
  font-family: $roboto-slab;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto-slab;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}
